<!DOCTYPE html>
<html>
  <head>
    <title>thefacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.top_left_1 = "<%= image_url('top_left_1') %>";
      window.top_left_2 = "<%= image_url('top_left_2') %>";
      window.top_left_3 = "<%= image_url('top_left_3') %>";
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
