<!DOCTYPE html>
<html>
  <head>
    <title>thefacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.topone = "<%= image_url('topone.png') %>";
      window.toptwo = "<%= image_url('toptwo.png') %>";

    </script>    
  </head>

  <body>
    <%= yield %>
  </body>
</html>

