<!DOCTYPE html>
<html>
  <head>
    <title>thefacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.topone = "<%= image_url('topone.png') %>";
      window.toptwo = "<%= image_url('toptwo.png') %>";
      window.topthree = "<%= image_url('topthree.png') %>";
      window.facebookIcon = "<%= image_url('facebook_icon.png') %>"
      window.friendIcon = "<%= image_url('friend_icon.png') %>";
      window.messageIcon = "<%= image_url('message_icon.png') %>";
      window.notIcon = "<%= image_url('not_icon.png') %>";
      window.questionIcon = "<%= image_url('question_icon.png') %>";
      window.dropdownIcon = "<%= image_url('dropdown_icon.png') %>";
      window.wallpaper = "<%= image_url('wallpaper.jpg') %>";
      window.profile = "<%= image_url('profile.jpg') %>";
      window.edit = "<%= image_url('edit_pen.png') %>";
      window.commentIcon = "<%= image_url('comment_icon.png') %>";
      window.globeIcon = "<%= image_url('globe_icon.png') %>";
      window.camera = "<%= image_url('camera.png') %>";
      window.createPostPen = "<%= image_url('create_post.png') %>";
      window.triangle = "<%= image_url('triangle.png') %>";
      window.like = "<%= image_url('like.png') %>";
      window.comment = "<%= image_url('comment.png') %>";
      window.trippledots = "<%= image_url('trippledots.png') %>";
      window.workplace = "<%= image_url('work.png') %>";
      window.school = "<%= image_url('school.png') %>";
      window.relStatus = "<%= image_url('reslstatus.png') %>";
      window.currCity = "<%= image_url('hometown.png') %>";
      window.hometown = "<%= image_url('loc.png') %>";

    </script>    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
